



@font-face {
    font-family: 'fenice_bqregular';
    src: url('fenicebq-light-webfont.woff2') format('woff2'),
         url('fenicebq-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}